.body-component {
  padding: 1rem;
}

.card {
  display: inline-block;
  margin: 10px;
}

.card-container {
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .card {
    max-width: 30%;
  }
}
