<div class="center">
  <h1 style="text-align: center;">Line Status</h1>
  <div class="center">
    <h2>What date do you want to assign a line status to?</h2>
    <mat-form-field appearance="fill">
      <mat-label>Pick a Date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="today" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="center">
    <h2>How is the line this shift?</h2>
    <mat-form-field appearance="fill">
      <mat-label>Select Line Status</mat-label>
      <mat-select required [(ngModel)]="status">
        <mat-option *ngFor="let state of line" [value]="state.viewValue">
          {{state.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="center">
    <mat-form-field style="width: 100%">
      <mat-label>Leave a comment (optional)</mat-label>
      <textarea matInput placeholder="Because James is sick..." [(ngModel)]="comment"></textarea>
    </mat-form-field>

    <section>
      <div class="center center-button">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </section>
  </div>
</div>

<div class="center" style="margin-top: 2rem">
  <h1 style="text-align: center;">What Employees Will See</h1>
  <h1>Date: {{date | date: 'EEEE, MMMM d'}}</h1>
  <h2>Line Status: {{status}}</h2>
  <h2>Comment: {{comment}}</h2>

</div>

