.center {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.child-center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center-button {
  text-align: center;
}

h1 {
  text-align: center;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
